 <div class="itemWrapper">
    <div class="itemInfo">
        <img src="<%= @@chocobanana.photo %>">
        <h4> <%= @@chocobanana.name %> </h4>
        <p> <%= @@chocobanana.description %> </p>
        <h4 id="price"> <%= @@chocobanana.price %> </h4>
    </div>

    <div class="itemInfo">
        <img src="<%= @@strawberry.photo %>">
        <h4> <%= @@strawberry.name %> </h4>
        <p> <%= @@strawberry.description %> </p>
        <h4 id="price"> <%= @@strawberry.price %> </h4>
    </div>

    <div class="itemInfo">
        <img src="<%= @@earlgrey.photo %>">
        <h4> <%= @@earlgrey.name %> </h4>
        <p> <%= @@earlgrey.description %> </p>
        <h4 id="price"> <%= @@earlgrey.price %> </h4>
    </div>

    <div class="itemInfo">
        <img src="<%= @@greentea.photo %>">
        <h4> <%= @@greentea.name %> </h4>
        <p> <%= @@greentea.description %> </p>
        <h4 id="price"> <%= @@greentea.price %> </h4>
    </div>

    <div class="itemInfo">
        <img src="<%= @@citron.photo %>">
        <h4> <%= @@citron.name %> </h4>
        <p> <%= @@citron.description %> </p>
        <h4 id="price"> <%= @@citron.price %> </h4>
    </div>
</div>

