<div class="itemWrapper">
    <div class="itemInfo">
        <img src="<%= @@matcha_cream.photo %>">
        <h4> <%= @@matcha_cream.name %> </h4>
        <p> <%= @@matcha_cream.description %> </p>
        <h4 id="price"> <%= @@matcha_cream.price %> </h4>
    </div>

    <div class="itemInfo">
        <img src="<%= @@ube_cream.photo %>">
        <h4> <%= @@ube_cream.name %> </h4>
        <p> <%= @@ube_cream.description %> </p>
        <h4 id="price"> <%= @@ube_cream.price %> </h4>
    </div>

    <div class="itemInfo">
        <img src="<%= @@yuzu_cream.photo %>">
        <h4> <%= @@yuzu_cream.name %> </h4>
        <p> <%= @@yuzu_cream.description %> </p>
        <h4 id="price"> <%= @@yuzu_cream.price %> </h4>
    </div>
</div>

