<div class="itemWrapper">
    <div class="itemInfo">
        <img src="<%= @@blacksesame.photo %>">
        <h4> <%= @@blacksesame.name %> </h4>
        <p> <%= @@blacksesame.description %> </p>
        <h4 id="price"> <%= @@blacksesame.price %> </h4>
    </div>

    <div class="itemInfo">
        <img src="<%= @@melon.photo %>">
        <h4> <%= @@melon.name %> </h4>
        <p> <%= @@melon.description %> </p>
        <h4 id="price"> <%= @@melon.price %> </h4>
    </div>

    <div class="itemInfo">
        <img src="<%= @@redbean.photo %>">
        <h4> <%= @@redbean.name %> </h4>
        <p> <%= @@redbean.description %> </p>
        <h4 id="price"> <%= @@redbean.price %> </h4>
    </div>

    <div class="itemInfo">
        <img src="<%= @@rose.photo %>">
        <h4> <%= @@rose.name %> </h4>
        <p> <%= @@rose.description %> </p>
        <h4 id="price"> <%= @@rose.price %> </h4>
    </div>

    <div class="itemInfo">
        <img src="<%= @@creamsicle.photo %>">
        <h4> <%= @@creamsicle.name %> </h4>
        <p> <%= @@creamsicle.description %> </p>
        <h4 id="price"> <%= @@creamsicle.price %> </h4>
    </div>
</div>